<!-- products.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management</title>
</head>
<body>

    <h1>Product Management</h1>

    <h2>Add Product</h2>
    <form id="addProductForm" method="post">
        <label for="productID">ProductID:</label>
        <input type="number" id="productID" name="productID" required>
        <label for="product_name">Product Name:</label>
        <input type="text" id="product_name" name="product_name" required>
        <label for="product_category">Category:</label>
        <input type="text" id="product_category" name="product_category" required>
        <label for="product_brand">Brand:</label>
        <input type="text" id="product_brand" name="product_brand" required>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required>
        <label for="discount">Discount:</label>
        <input type="number" id="discount" name="discount" required>
        <label for="inventoryID">InventoryID:</label>
        <input type="number" id="inventoryID" name="inventoryID" required>
        <label for="reviewID">ReviewID:</label>
        <input type="number" id="reviewID" name="reviewID" required>
        <button type="button">Add Product</button>
        <button type="button">Show Product</button>
        <button type="button">Update Product</button>
        <button type="button">Delete Product</button>
    </form>

    <h2>Product List</h2>
    <ul id="productList"></ul>

    

</body>
</html>
